// Color
$color_1st: wheat;
$color_2nd: #eee;;
$color_3rd: #6A5AF9;;
$color_4th: #3D6EF7;;
$color_light: #ededed;
$color_dark: black;

// Background Color
$background-color_1st: black;
$background-color_2nd: wheat;
$background-color_3rd: wheat;
$background-color_4th: wheat;

// z-index
$navbar_z-index: 99;

// Height
$navbar_height: 60px;

// Width
$breakpoint_mobile: 768px;
$breakpoint_ipad: 1024px;
$breakpoint_sm_pc: 1224px;
$breakpoint_pc: 1824px;
