// Color
$color_1st: wheat;
$color_2nd: black;
$color_3rd: #6A5AF9;;
$color_4th: black;
$color_light: #ededed;
$color_dark: #000000;

// Background Color
$background-color_1st: black;
$background-color_2nd: wheat;
$background-color_3rd: wheat;
$background-color_4th: wheat;

// z-index
$navbar_z-index: 99;

// Height
$navbar_height: 60px;

