
$color_1st: black;
$color_2nd: black;
$color_3rd: black;
$color_4th: black;

$background-color_1st: wheat;
$background-color_2nd: wheat;
$background-color_3rd: wheat;
$background-color_4th: wheat;

    // --my-1st-color: red;
    // --my-1st-background-color: black;
    // --my-2nd-background-color: darkred;
    // --my-side-bar-color: black;
    // --my-side-bar-background-color: #111;
    // --hover-color: rgb(23, 23, 31);

    // --nav-bar-height: 60px; 
    // --my-side-bar-weight: 70px;