@import './_variables';
@import './mixin';

*{
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

#navbar{
    .container{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }
}